<div class="container-fluid overflow-x-auto">
    <LineChart @ref="lineChart" Width="800" />
</div>

@code {
    [Parameter]
    public List<Shared.Models.DeviceData> _RoomDeviceData { get; set; }
    public LineChart lineChart { get; set; } = default!;
    public LineChartOptions lineChartOptions { get; set; } = default!;
    public ChartData chartData { get; set; } = default!;
    public bool _IsLoading { get; set; } = true;
    public double? MaxY { get; set; }
    public double? MinY { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _IsLoading = false;
            UpdateGraph();
            await lineChart.InitializeAsync(chartData, lineChartOptions);
        }
    }

    private void UpdateGraph()
    {

        chartData = new ChartData { Labels = GetDataLabels(), Datasets = GetDataSets() };
        lineChartOptions = new()
            {
                IndexAxis = "x",
                Interaction = new Interaction { Mode = InteractionMode.Index, Intersect = false },
                Responsive = true,
            };
        lineChartOptions.Scales.Y!.Max = MaxY;
        lineChartOptions.Scales.Y!.Min = MinY;
        StateHasChanged();
    }
    private List<IChartDataset> GetDataSets()
    {
        var datasets = new List<IChartDataset>();
        datasets.Add(GetDataset());
        return datasets;
    }
    private LineChartDataset GetDataset()
    {
        var data = _RoomDeviceData.Select(x => x.Value).ToList().Select(x => double.TryParse(x.Replace(".", ","), out var result) ? (double?)result : null).ToList();
        MaxY = data.Max()+0.5;
        MinY = data.Min()-0.5;
        return new()
            {
                Data = data,
                BackgroundColor = System.Drawing.Color.AliceBlue.ToRgbaString(),
                BorderColor = System.Drawing.Color.AliceBlue.ToRgbString(),
                PointRadius = new List<double> { 5 },
                PointHoverRadius = new List<double> { 8 },
            };
    }
    private List<string> GetDataLabels()
    {
        var labels = _RoomDeviceData.Select(x => x.Timestamp.ToString()).ToList();

        return labels;
    }

}
