@rendermode InteractiveServer
@using System.Text.RegularExpressions
@using DenModerneProduktion.Services
@using Shared.DTOs.Auth
@inject ApiRequester requester
@inject NavigationManager navigationManager
<PageTitle>Forgot Password</PageTitle>
@page "/forgotpassword"

<div class="js-forgot-pwd-container">
    <h3>Nultil adgangskode</h3>
    <InputText type="email" placeholder="Email" @bind-Value="@Email"></InputText>
    <button disabled="@(!(new Regex(EmailPattern).IsMatch(Email)))" class="btn btn-primary" @onclick="async()=> await ResetPasswordAsync()">
        Nulstil kode kode
    </button>
    <span hidden="@HideMsg">Nulstillings link sendt til din email.</span>
</div>

@code {
    public string Email { get; set; } = "";
    public bool HideMsg { get; set; } = true;

    //Regex: https://stackoverflow.com/questions/50330109/simple-regex-pattern-for-email
    public string EmailPattern { get; set; } = @"^[^@]+@[^@]+\.[^@]+$";

    public async Task ResetPasswordAsync()
    {
        var response = await requester.Post<StartPasswordResetPost>("api/auth/reset_password", new StartPasswordResetPost(){username = Email});

        //TODO: Check for respone success?

        Email = "";
        HideMsg = false;
    }
}
