@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DenModerneProduktion</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable js-nav" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Forside
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Lobby">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lobby
            </NavLink>
        </div>
        @if (_ShowAdminMenu)
        {   
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Admin
                </NavLink>
                @if(_ShowSubMenu)
                {   
                    <nav class="flex-column">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/section">
                                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Sektion
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/room">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lokale
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/group">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grupper
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/user">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bruger
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/permissions">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rettigheder
                            </NavLink>
                        </div>
                    </nav>
                }
            </div>
        }
    </nav>
    <div class="js-nav-rooms">
        <h3>Lokaler</h3>
        <div class="nav-scrollable">
            <nav class="flex-column">
                @foreach (var room in AccessibleRooms)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@($"room?id={room}")" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @room
                        </NavLink>
                    </div>
                }
            </nav>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext? httpContext { get; set; }
    // public List<string> AccessibleRooms { get; set; } = new() { "52.200", "52.201", "52.202" };
    public List<string> AccessibleRooms { get; set; } = new() { "52.200", "52.201", "52.202", "52.203", "52.204", "52.205", "52.206", "52.207", "52.208", "52.209", "52.210", "52.211", "52.212", "52.213", "52.214", "52.215", "52.216", "52.217", "52.218", "52.219", "52.220" };

    private bool _ShowSubMenu { get; set; }
    private bool _ShowAdminMenu { get; set; } = true;

    private void ShowAdminMenu() => _ShowAdminMenu = true;


    protected override void OnInitialized()
    {
        if (httpContext is not null)
        {
            var test = Navigation.ToAbsoluteUri(Navigation.Uri);
            var test2 = test.AbsolutePath;
            var test3 = test2.Split("/");
            var test4 = test3.Contains("admin");
            _ShowSubMenu = Navigation.ToAbsoluteUri(Navigation.Uri).AbsolutePath.Split("/").Contains("admin");
            StateHasChanged();
        }
    }
    
}