@using System.Diagnostics
@inject NavigationManager Navigation
@inject IHttpContextAccessor httpContextAccessor

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DenModerneProduktion</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable js-nav" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.HouseFill" Size="IconSize.x4" class="js-nav-icon"/> Forside
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Lobby">
                <Icon Name="IconName.LaptopFill" Size="IconSize.x4" class="js-nav-icon"/> Lobby
            </NavLink>
        </div>
        @if (_ShowAdminMenu)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <Icon Name="IconName.PersonFillGear" Size="IconSize.x4" class="js-nav-icon"/> Admin
                </NavLink>
                @if (_ShowSubMenu)
                {
                    <nav class="flex-column">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/sections">
                                <Icon Name="IconName.MapFill" Size="IconSize.x4" class="js-nav-icon"/> Sektion
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/rooms">
                                <Icon Name="IconName.PinMapFill" Size="IconSize.x4" class="js-nav-icon"/> Lokale
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/users">
                                <Icon Name="IconName.PersonFill" Size="IconSize.x4" class="js-nav-icon"/> Brugere
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/security_groups">
                                <Icon Name="IconName.PeopleFill" Size="IconSize.x4" class="js-nav-icon"/> Sikkerhedsgrupper
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/permissions">
                                <Icon Name="IconName.ShieldFill" Size="IconSize.x4" class="js-nav-icon"/> Rettigheder
                            </NavLink>
                        </div>
                    </nav>
                }
            </div>
        }
    </nav>
    <div class="js-nav-rooms">
        <h3>Lokaler</h3>
        <div class="nav-scrollable">
            <nav class="flex-column">
                @foreach (var room in AccessibleRooms)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@($"rooms/{room}")" Match="NavLinkMatch.All">
                            <Icon Name="IconName.DoorClosedFill" Size="IconSize.x4" class="js-nav-icon"/> @room
                        </NavLink>
                    </div>
                }
            </nav>
        </div>
    </div>
</div>

@code {
    public HttpContext? httpContext => httpContextAccessor.HttpContext;

    // public List<string> AccessibleRooms { get; set; } = new() { "52.200", "52.201", "52.202" };
    public List<string> AccessibleRooms { get; set; } = new() { "52.200", "52.201", "52.202", "52.203", "52.204", "52.205", "52.206", "52.207", "52.208", "52.209", "52.210", "52.211", "52.212", "52.213", "52.214", "52.215", "52.216", "52.217", "52.218", "52.219", "52.220" };

    private bool _ShowSubMenu { get; set; }
    private bool _ShowAdminMenu { get; set; } = true;

    private void ShowAdminMenu() => _ShowAdminMenu = true;

    protected override void OnInitialized()
    {
        OnLocationChanged();
        Navigation.LocationChanged += (object? sender, LocationChangedEventArgs e) => OnLocationChanged();
    }

    private void OnLocationChanged()
    {
        if (httpContext is not null)
        {
            _ShowSubMenu = Navigation.ToAbsoluteUri(Navigation.Uri).AbsolutePath.Split("/").Contains("admin");
            StateHasChanged();
        }
    }
}