@page "/"
<h3>Status dashboard</h3>




@code {
    public double GlobalTemperature { get; set; }
    public double GlobalHumidity { get; set; }
    public int DoorsUnlocked { get; set; }
    public int WindowsOpened { get; set; }
    
}
