@page "/rooms/{id}"
<PageTitle>Lokale</PageTitle>

<div class="js-room-container">
    <h1>Room</h1>
    <div class="js-room-header">
        <div class="js-room-header-selectors">
            <div class="js-room-header-type-selector">
                <h4 @onclick="()=>ChangeType(0)"><Icon Name="IconName.ThermometerHigh" Size="IconSize.x4"/></h4>
                <h4 @onclick="()=>ChangeType(1)"><Icon Name="IconName.DropletFill" Size="IconSize.x4"/></h4>
                <h4 @onclick="()=>ChangeType(2)"><Icon Name="IconName.LightningFill" Size="IconSize.x4"/></h4>
            </div>
            <div class="js-room-header-period-selector">
                <h4 @onclick="()=>ChangePeriod(0)">D</h4>
                <h4 @onclick="()=>ChangePeriod(1)">W</h4>
                <h4 @onclick="()=>ChangePeriod(2)">M</h4>
            </div>
        </div>
        @if (UserIsAdmin)
        {
            <div class="js-room-header-admin">
                <a href="@($"/admin/rooms/{id}")"><Icon Name="IconName.Gear" Size="IconSize.x2" Color="IconColor.Primary" /></a>
            </div>
        }
    </div>
    <div class="js-room-data">
        <div class="js-room-data-header">
            <h4 class="js-room-data-current">{value}</h4>
            <div class="js-room-data-limit">
                <div class="js-room-data-limit-min">
                    <label for="js-room-data-limit-min-value">Minimum</label>
                    <InputNumber id="js-room-data-limit-min-value" @bind-Value="MinValue" class="js-room-data-limit-min-input"></InputNumber>
                </div>
                <div class="js-room-data-limit-max">
                    <label for="js-room-data-limit-max-value">Maximum</label>
                    <InputNumber id="js-room-data-limit-max-value" @bind-Value="MaxValue" class="js-room-data-limit-max-input"></InputNumber>
                </div>
            </div>
        </div>
        <div class="js-room-data-graph"></div>
    </div>
</div>



@code {
    [Parameter]
    public string id { get; set; }

    public double MinValue { get; set; } = 18.2;
    public double MaxValue { get; set; }
    public bool UserIsAdmin { get; set; }

    public void ChangePeriod(int index)
    {

    }
    public void ChangeType(int index)
    {

    }

    protected override void OnInitialized()
    {
        UserIsAdmin = CheckIfUserIsAdmin();
    }

    private bool CheckIfUserIsAdmin()
    {
        return true;
    }
}
