@page "/admin/"
<PageTitle>Admin</PageTitle>
<div class="js-admin-index">
    <h1>Admin frontpage</h1>
    <div class="js-alarm-list">
        <div class="js-alarm-card">
            <h2>Nærhedssensor</h2>
            <div class="js-alarm-card-list">
                @foreach (var device in MotionDevices)
                {
                    <p>{lokale} - {TimeStamp}</p>
                }
            </div>
        </div>
        <div class="js-alarm-card">
            <h2>Temperatur</h2>
            <div class="js-alarm-card-list">
                @foreach (var device in TemperatureDevices)
                {
                    <p>{lokale} - {value}</p>
                }
            </div>
            <div class="js-alarm-card-global-limit">
                <h4>Global Limit</h4>
                <div>
                    <div class="js-alarm-card-global-limit-min">
                        <label for="js-min-humid-limit">Minimum</label>
                        <InputNumber id="js-min-humid-limit" @bind-Value="MinimumTemperatureLimit" />
                    </div>
                    <div class="js-alarm-card-global-limit-max">
                        <label for="js-max-humid-limit">Maximum</label>
                        <InputNumber id="js-max-humid-limit" @bind-Value="MaxTemperatureLimit" />
                    </div>
                </div>
            </div>
        </div>
        <div class="js-alarm-card">
            <h2>Fugtighed</h2>
            <div class="js-alarm-card-list">
                @foreach (var device in HumidityDevices)
                {
                    <p>{lokale} - {value}</p>
                }
            </div>
            <div class="js-alarm-card-global-limit">
                <h4>Global Limit</h4>
                <div>
                    <div class="js-alarm-card-global-limit-min">
                        <label for="js-min-humid-limit">Minimum</label>
                        <InputNumber id="js-min-humid-limit" @bind-Value="MinimumHumidityLimit" />
                    </div>
                    <div class="js-alarm-card-global-limit-max">
                        <label for="js-max-humid-limit">Maximum</label>
                        <InputNumber id="js-max-humid-limit" @bind-Value="MaximumHumidityLimit"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<string> MotionDevices { get; set; } = new() { "25", "20", "19", "25", "20", "19", "25", "20", "19", "25", "20", "19" };
    public List<string> TemperatureDevices { get; set; } = new() { "25", "20", "19", "25", "20", "19", "25", "20", "19", "25", "20", "19" };
    public List<string> HumidityDevices { get; set; } = new() { "25", "20", "19", "25", "20", "19", "25", "20", "19", "25", "20", "19" };

    public double MinimumTemperatureLimit { get; set; } = 18.2;
    public double MaxTemperatureLimit { get; set; } = 22.5;

    public double MinimumHumidityLimit { get; set; } = 25;
    public double MaximumHumidityLimit { get; set; } = 75;
}
